*.dir
*.opensdf
*.sdf
*.sln
*.suo
*.vcxproj*
.DS_Store
.ninja_deps
.ninja_log
.vs
_ReSharper*
build
build.ninja
cmake_install.cmake
cmake_uninstall.cmake
CMakeCache.txt
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
CMakeFiles
CMakeScripts
CMakeSettings.json
Debug
Makefile
MinSizeRel
Release
RelWithDebInfo
rules.ninja
Win32
x64